# macOS system files
.DS_Store

# Python bytecode files
__pycache__/
*.py[cod]

# Files typically not included in version control
*.log
*.csv
*.dat
.env
*.db

# Virtual environments
venv/
myenv/
env/

# Packaging
*.egg-info/
dist/

# IDE settings
.idea/
.vscode/
